/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Druk Wide Web';
  src: url('/fonts/DrukWide-Super-Web.woff2') format('woff2'),
    url('/fonts/DrukWide-Super-Web.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

html,
body {
  background: #fff;
  font-family: neue-haas-unica, sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
}

#app {
  background: #fff;
}

#app h1,
#app h2,
#app h3,
#app p.title {
  font-family: 'Druk Wide Web';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1em;
  margin-bottom: 1em;
}

#app h2,
#app p.title {
  font-size: 21px;
}

#app button.primary {
  border-radius: 9999px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: #000;
  white-space: nowrap;
  background-color: #00ff00;
  border-color: transparent;
}

#app button.primary:hover {
  transform-origin: center center;
  transform: scale(1.05);
  transition: all 0.3s;
  background-color: #33cc33;
}

#app button.primary:disabled {
  display: none;
  cursor: not-allowed;
}

#app button.primary:disabled:hover {
  transform: none;
  transition: none;
  background-color: #00ff00;
}

#app button.claim:disabled {
  display: block;
  opacity: 0.5;
}

#app button.primary:focus {
  outline: none !important;
  border-color: none;
}

#app button.primary:active {
  background-color: #66ff66;
}

#app input {
  border: 1px solid black;
  padding: 8px;
}

#app input[type='text'] {
  display: block;
  min-width: 300px;
}

#app input[type='radio'] {
  display: inline-block;
  margin-right: 4px;
}

#app select {
  border: 1px solid black;
  padding: 2px 5px 2px 2px;
}

#app label span {
  padding-right: 12px;
}

@media only screen and (max-width: 760px) {
  #app > div {
    margin: 0;
    padding: 0;
  }

  .locked {
    max-width: 225px;
    font-size: 12px;
    padding: 5px 10px;
    line-height: 1.2em;
  }

  #controlbuttons {
    width: 100%;
    display: block;
  }

  #controlbuttons button {
    display: block;
    width: 60%;
    margin: 0 auto 0.5em auto;
  }
}
